body {
	width: 100%;
	height: auto;
	color: #333;
	font-size: 12px;
	background: url(../images/body_bg.jpg) repeat-x;
}
.wrap-header {
	width: 100%;
}
.header-top{
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}
.quick-link {
	float: left;
}
.lan{
	float: right;
}
.search{
	float: right;
}
li {
	list-style: none;
	display: inline;;
}
a {
	text-decoration: none;
	color: white;
}
