* {
	margin: 0;
	border: 0;
	padding: 0;
}
body,div,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,p {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	color: #333;
	font: normal 12px/22px 宋体, Arial, Helvetica, sans-serif;
	background: url(../images/body_bg.jpg) repeat-x;
}
ul {
	list-style: none;
}
li {
	list-style: none;
	display: inline;
}
a {
	text-decoration: none;
	color: white;
}

.wrap-header {
	width: 100%;
}
.header-top{
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}
.quick-link {
	float: left;
	width: 330px;
	height: 30px;
}
.quick-link li {
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	margin-right: 15px;
	background: url(../images/quick-link-dot.jpg) no-repeat 0 10px;
}

.search {
	float: right;
	margin-top: 2px;
	width: 172px;
	height: 25px;
	background: #fff;
}
.search-box {
	display: inline;
	float: left;
	margin-left: 5px;
	width: 145px;
	height: 25px;
	line-height: 25px;
}
.search-btn {
	float: left;
	margin-top: 2px;
}

.lan {
	display: inline;
	float: right;
	margin-right: 15px;
	height: 30px;
	color: #fff;
	line-height: 30px;
}
.header-logo {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 93px;
}
.logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;
	margin-left: -500px;
}
.logo-area-bg {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 99;
	margin-left: -410px;
	width: 100%;
	height: 75px;
	background: url(../images/logo-area-bg.jpg) no-repeat;
}
.header-nav {
	width: 100%;
	height: 34px;
}
.nav {
	width: 1000px;
	height: inherit;
	line-height: 34px;
	margin: 0 auto;
}
#nav {
	height: 34px;
	float: right;
}
#nav li {
	position: relative;
	z-index: 1000;
	float: left;
}
#nav li a {
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 14px;
}
#nav li a:hover {
	background: #631549;
}
#nav li .sub-nav {
	position: absolute;
	top: 33px;
	left: -999em;
	z-index: 1000;
	width: 130px;
	background: #38032c;
	list-style-type: none;
	text-align: left;
	zoom: 1;
}
#nav li:hover ul {
	left: 0;
}
#nav li .sub-nav li {
	float: left;;
	height: 28px !important;
	background: none;
	line-height: 28px;
}
#nav li .sub-nav li a {
	float: left;
	padding: 0 0 0 15px;
	width: 115px;
	height: 28px !important;
	font-weight: lighter;
	font-size: 12px !important;
	line-height: 28px;
}
#nav li .sub-nav li a:hover {
	float: left;
	width: 115px;
	background: #631549;
}
.wrap-container {
	width: 100%;
	height: 800px;
	background: url(../images/container-bg.jpg) no-repeat center top;	
}
.container {
	width: 1000px;
	height: 100%;
	background: #fff;
	margin: 0 auto;
}
.show {
	position: relative;
	z-index: 1;
	float: left;
	width: 1000px;
	height: 334px;
	zoom: 1;
	background: url(../images/show-bg.jpg) no-repeat 0 282px;
	overflow: hidden;
}
.show-list {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	width: 1000px;
	height: 334px;
	zoom: 1;
}
.show-list .slide-main-view {
	overflow: hidden;
	height: 334px;
}
.wrap-container .slide-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000px;
	height: 334px;
	z-index: 10;
}
.slide-item p.slide-text {
	position: absolute;
	top: 240px;
	left: 237px;
	z-index: 3;
	margin-top: 5px;
	width: 527px;
	height: 44px;
	text-align: center;
	zoom: 1;
}
.show-text-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;	
}
.slide-text a {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    font-size: 	14px;
    line-height: 44px;
}



.wrap-footer {
	width: 100%;
	height: 183px;
	background: url(../images/footer-bg.jpg) repeat-x;
}
.footer {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	color: #fff;
}
.footer-left {
	width: 389px;
	height: 100%;	
	float: left;
}
.footer-left strong {
	float: left;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
}
.footer-left p {
	line-height: 18px;
}
.footer-left a {
	margin-right: 10px;
	padding-left: 8px;
	color: #0cf;
	background: url(../images/footer-left-a-dot.jpg) no-repeat 0 4px;
}
.footer-mid {
	float: left;
	width: 388px;
}
.footer-right {
	width: 200px;
	float: left;
	padding-top: 20px;
}